<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    <meta name="author" content="{{ site.author.name }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/img/favicon.png" />

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/docs.css" rel="stylesheet">
    <!--<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">-->

    <!-- Le javascript -->

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.js"></script>

  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src="{{ ASSET_PATH }}/img/teleragno-logo.png"></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
<!--
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles<span class="caret"></span></a>
              <ul class="dropdown-menu">
		{% assign pages_list = site.pages %}
		{% assign group = 'navigation' %}
		{% include JB/pages_list %}
	      </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents &amp; Formulaires<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/assets/files/statuts_teleragno.pdf">Statuts (PDF)</a></li>
                <li><a href="/assets/files/reglement_teleragno.pdf">Règlements (PDF)</a></li>
                <li><a href="/assets/files/formulaire_adhesion.odt">Formulaire adhésion (ODT)</a></li>
              </ul>
            </li>
            {% unless site.tags == empty %}
            <li class="dropdown">
              <a href="/tags.html">Accès par mot clefs</a>
            </li>
            {% endunless %}  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://lists.teleragno.fr/listinfo/teleragno">Liste de diffusion</a></li>
                <li><a href="irc://irc.teleragno.fr/teleragno">IRC</a></li>
              </ul>
            </li>
            <li><a href='/atom.xml'><img src="{{ ASSET_PATH }}/img/atom.png" alt="Atom" /></a></li>
<!--            <li><a href='/sitemap.txt'>Sitemap</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="span9">

        <div class="content">
          {{ content }}
        </div>
      </div>

    </div> <!-- /row -->

    <footer class="footer">
      <div class="container">
        <p><a href="http://creativecommons.org/licenses/by/2.0/fr/">Creative Commons-BY</a> <a href="http://www.teleragno.fr">Teleragno</a> 2013
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </div>
    </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ASSET_PATH}}/js/jquery.js"></script>
    <script src="{{ASSET_PATH}}/js/bootstrap.min.js"></script>

    <script src="{{ASSET_PATH}}/js/application.js"></script>
    <script src="{{ site.baseurl }}/js/toc.js"></script>

    {% include JB/analytics %}

  </body>
</html>
