---
layout: page
title: Tags
header: Articles par Tag
---
{% include JB/setup %}

<div class="panel-group" id="accordion">
  {% for tag in site.tags %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{ tag[0] }}-collapse">
          {{ tag[0] }}
        </a>
      </h4>
    </div>
    <div id="{{ tag[0] }}-collapse" class="panel-collapse collapse in">
      <div class="panel-body">
        {% assign posts_collate = tag[1] %}
        {% include JB/posts_collate %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
